@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Fascinate|Suez+One");
/* GLOBAL */
body {
  margin: 0;
  font-family: "Open Sans", sans-serif; }

* {
  box-sizing: border-box; }

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; }

h1 {
  font-size: 40px;
  color: #fff;
  font-weight: 800; }

h2 {
  font-size: 26px;
  font-weight: 800; }

h1, h2 {
  text-transform: uppercase; }

h3 {
  font-size: 20px;
  font-weight: 400; }

h2, h3 {
  color: #313332;
  transition: color 1s ease-in-out; }

p {
  color: #313332;
  font-size: 18px; }

.clearfix:before, .clearfix:after {
  content: "";
  display: table; }
.clearfix:after {
  clear: both; }

/* HEADER */
header {
  margin-bottom: 0;
  background: #313332;
  padding: 0; }
  header nav img {
    margin-top: 5px; }
  header nav ul {
    margin: 0;
    list-style-type: none;
    float: right;
    font-size: 0; }
    header nav ul li {
      display: inline-block;
      padding: 0; }
      header nav ul li a {
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        display: block;
        line-height: 70px;
        font-weight: 600;
        font-size: 20px;
        padding: 0 30px;
        transition: background, color 1s ease-in-out; }
        header nav ul li a:hover {
          color: #02C7EA;
          background: rgba(0, 0, 0, 0.5); }

/* HERO */
.hero {
  width: 100%;
  height: 100vh;
  background: #000 url(https://images.pexels.com/photos/2156/sky-earth-space-working.jpg?w=1260&h=750&auto=compress&cs=tinysrgb) 0/cover no-repeat;
  padding-top: 40vh; }

.slogan {
  background: rgba(61, 61, 61, 0.7);
  float: right;
  min-width: 45vw;
  padding: 10px 50px 10px 20px; }

.thin {
  font-weight: 400; }

/* 3 ICONS */
.icons {
  float: left;
  min-width: 250px;
  margin: 0 auto;
  cursor: pointer; }

.row {
  margin: 40px auto;
  padding: 50px 0;
  text-align: center;
  overflow: auto; }
  .row .icons i {
    background: #313332;
    border-radius: 5px;
    color: #fff;
    padding: 10px;
    font-size: 70px;
    transition: background 1s ease-in-out; }
  .row .icons:hover h2 {
    color: #02C7EA; }
  .row .icons:hover i {
    background: #02C7EA; }

/* SECTION WITH TEXT */
.col-12 h1 {
  color: #313332; }

/* GALLERY - MAIN */
.gallery {
  width: 100%;
  margin: 0 auto;
  height: 500px;
  cursor: pointer; }

.row-1, .row-2 {
  margin: 0;
  padding: 0;
  text-align: center; }

.row-1 > [class*="col-"],
.row-2 > [class*="col-"] {
  float: left;
  margin: 0 auto;
  height: 250px; }

.row-2 > [class*="col-"] {
  font-size: 0; }

.gallery [class*='row-'] [class*='col-'] .layer {
  line-height: 250px;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 1s ease-in-out; }
  .gallery [class*='row-'] [class*='col-'] .layer i {
    background: rgba(0, 0, 0, 0.5);
    color: #000;
    border-radius: 3px;
    font-size: 20px;
    font-weight: 900;
    padding: 5px;
    margin: 0 5px; }

/* GALLERY - IMAGES */
.row-1 div:nth-child(1) {
  background: #000 url(https://images.pexels.com/photos/355925/pexels-photo-355925.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb) 0/cover no-repeat; }
.row-1 div:nth-child(2) {
  background: #000 url(https://images.pexels.com/photos/208768/pexels-photo-208768.jpeg?h=350&auto=compress&cs=tinysrgb) 0/cover no-repeat; }
.row-1 div:nth-child(3) {
  background: #000 url(https://images.pexels.com/photos/247768/pexels-photo-247768.jpeg?h=350&auto=compress&cs=tinysrgb) 0/cover no-repeat; }
.row-1 div:nth-child(4) {
  background: #000 url(https://images.pexels.com/photos/208768/pexels-photo-208768.jpeg?h=350&auto=compress&cs=tinysrgb) 0/cover no-repeat; }
.row-1 div:nth-child(5) {
  background: #000 url(https://images.pexels.com/photos/159164/submarine-underwater-boat-torpedo-tube-torpedeo-159164.jpeg?h=350&auto=compress&cs=tinysrgb) 0/cover no-repeat; }

.row-2 div:nth-child(1) {
  background: #000 url(https://images.pexels.com/photos/97077/pexels-photo-97077.jpeg?h=350&auto=compress&cs=tinysrgb) 0/cover no-repeat; }
.row-2 div:nth-child(2) {
  background: #000 url(https://images.pexels.com/photos/442150/pexels-photo-442150.jpeg?h=350&auto=compress&cs=tinysrgb) 0/cover no-repeat; }
.row-2 div:nth-child(3) {
  background: #000 url(https://images.pexels.com/photos/50711/board-electronics-computer-data-processing-50711.jpeg?h=350&auto=compress&cs=tinysrgb) 0/cover no-repeat; }
.row-2 div:nth-child(4) {
  background: #000 url(https://images.pexels.com/photos/57007/pexels-photo-57007.jpeg?h=350&auto=compress&cs=tinysrgb) 0/cover no-repeat; }
.row-2 div:nth-child(5) {
  background: #000 url(https://images.pexels.com/photos/442150/pexels-photo-442150.jpeg?h=350&auto=compress&cs=tinysrgb) 0/cover no-repeat; }

/* GALLERY - HOVER */
.row-1 div:nth-child(1):hover .layer, .row-1 div:nth-child(2):hover .layer, .row-1 div:nth-child(3):hover .layer, .row-1 div:nth-child(4):hover .layer, .row-1 div:nth-child(5):hover .layer,
.row-2 div:nth-child(1):hover .layer,
.row-2 div:nth-child(2):hover .layer,
.row-2 div:nth-child(3):hover .layer,
.row-2 div:nth-child(4):hover .layer,
.row-2 div:nth-child(5):hover .layer {
  opacity: 1; }

/* TEAM */
.person img {
  border-radius: 50%; }
.person h3 {
  font-weight: 700; }

.team {
  padding-top: 100px;
  padding-bottom: 100px; }
  .team .icons {
    position: relative; }
  .team div:nth-child(1):hover .layer, .team div:nth-child(2):hover .layer, .team div:nth-child(3):hover .layer, .team div:nth-child(4):hover .layer {
    opacity: 1; }
  .team .layer {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    line-height: 250px;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 1s ease-in-out; }
    .team .layer p {
      color: #fff;
      font-weight: 600;
      position: relative;
      top: -15px; }

/* BANNER */
.banner {
  background: #000 url(https://cdn.pixabay.com/photo/2016/11/22/14/41/astronaut-1849401__340.jpg) 0/cover no-repeat;
  position: relative;
  width: 100%; }

.white p,
.white h1 {
  color: #fff;
  text-align: left;
  line-height: 2rem; }

.italic p {
  font-style: italic; }

.banners-0, .banners-1 {
  float: left; }

.banners {
  margin: 0 auto;
  padding: 150px 10px 5px 10px;
  box-sizing: border-box; }

.mobile img {
  position: absolute;
  bottom: 0; }

.mobile,
.mobile-text {
  height: 350px; }

/* NUMBERS */
.number {
  height: 200px;
  padding: 70px 0; }

.numbers {
  float: left;
  height: auto;
  text-align: center;
  margin-bottom: 70px; }
  .numbers p {
    font-size: 60px;
    font-weight: 900;
    font-family: "Suez One", serif;
    line-height: 0; }
  .numbers h3 {
    text-transform: uppercase;
    color: #02C7EA;
    line-height: 0;
    font-weight: 700;
    position: relative;
    top: -10px; }

span {
  white-space: nowrap; }

/* FOOTER */
.footer {
  float: left; }

.footer-21 .footer {
  height: 100px; }

.main {
  height: 400px; }

footer {
  background: #313234;
  margin: 90px 0 0; }

.rights {
  background: #252726;
  margin: 0 auto; }
  .rights p {
    color: #fff;
    text-align: center;
    font-size: smaller;
    margin: 0 auto; }

.white h2, .white .fa {
  color: #fff; }

.footer ul {
  list-style: none;
  text-align: left;
  padding: 0;
  margin: 0; }
  .footer ul li {
    display: inline-block;
    margin: 0;
    text-align: center; }

.main {
  padding: 10px 10px;
  box-sizing: border-box; }
  .main ul li .fa {
    font-size: 25px;
    background: #00C7E9;
    height: 42px;
    width: 42px;
    line-height: 42px;
    text-align: center;
    border-radius: 5px;
    margin: 0 5px;
    transition: 0.5s all; }
    .main ul li .fa:hover {
      transform: scale(1.2); }
  .main p {
    margin-top: 40px; }
  .main h2 {
    position: relative; }
    .main h2:after {
      content: "";
      height: 135px;
      border-left: 2px solid white;
      transform: rotate(90deg);
      position: absolute;
      bottom: -50px;
      left: 265px; }

/* GRID */
.col-1 {
  width: 8.334%; }

.col-2 {
  width: 16.667%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.334%; }

.col-5 {
  width: 41.667%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.334%; }

.col-8 {
  width: 66.667%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.334%; }

.col-11 {
  width: 91.667%; }

.col-12 {
  width: 100%; }

.col-offset-1 {
  margin-left: 8.334%; }

.col-offset-2 {
  margin-left: 16.667%; }

.col-offset-3 {
  margin-left: 25%; }

.col-offset-4 {
  margin-left: 33.334%; }

.col-offset-5 {
  margin-left: 41.667%; }

.col-offset-6 {
  margin-left: 50%; }

.col-offset-7 {
  margin-left: 58.334%; }

.col-offset-8 {
  margin-left: 66.667%; }

.col-offset-9 {
  margin-left: 75%; }

.col-offset-10 {
  margin-left: 83.334%; }

.col-offset-11 {
  margin-left: 91.667%; }

.col-offset-12 {
  margin-left: 100%; }

/* MEDIA */
@media (min-width: 768px) and (max-width: 1200px) {
  .col-m-1 {
    width: 8.33%; }

  .col-m-2 {
    width: 16.66%; }

  .col-m-3 {
    width: 25%; }

  .col-m-4 {
    width: 33.33%; }

  .col-m-5 {
    width: 41.66%; }

  .col-m-6 {
    width: 50%; }

  .col-m-7 {
    width: 58.33%; }

  .col-m-8 {
    width: 66.66%; }

  .col-m-9 {
    width: 75%; }

  .col-m-10 {
    width: 83.33%; }

  .col-m-11 {
    width: 91.66%; }

  .col-m-12 {
    width: 100%; }

  /*HEADER */
  header nav ul li a {
    padding: 0 7px; }

  /*ICONS */
  .icons {
    padding-left: 20px;
    padding-right: 20px; }

  /*TEXT */
  .col-12 {
    padding: 0 30px; }

  /*TEAM */
  .team {
    margin-bottom: 0; }
    .team .icons {
      padding-bottom: 30px; }

  /*BANNER */
  .banner {
    margin-top: 0; }

  .banners {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-top: 30px; }

  .mobile {
    order: 2; }

  .mobile-text {
    order: 1; }

  .white p {
    padding-right: 10px; }
  .white h1,
  .white p {
    padding-left: 10px; }

  /*NUMBERS */
  .numbers {
    height: auto;
    margin: 0 auto;
    padding: 30px auto;
    text-align: center; }

  .number {
    height: auto;
    padding-bottom: 0;
    margin-bottom: 0; }

  /*FOOTER */
  .main {
    height: auto;
    margin-bottom: 20px; }

  .footer ul {
    text-align: center;
    padding: 0;
    margin: 20px; } }
@media (max-width: 767px) {
  .col-s-1 {
    width: 8.33%; }

  .col-s-2 {
    width: 16.66%; }

  .col-s-3 {
    width: 25%; }

  .col-s-4 {
    width: 33.33%; }

  .col-s-5 {
    width: 41.66%; }

  .col-s-6 {
    width: 50%; }

  .col-s-7 {
    width: 58.33%; }

  .col-s-8 {
    width: 66.66%; }

  .col-s-9 {
    width: 75%; }

  .col-s-10 {
    width: 83.33%; }

  .col-s-11 {
    width: 91.66%; }

  .col-s-12 {
    width: 100%; }

  /*HEADER */
  header {
    /*HERO */ }
    header nav {
      margin: 0 auto;
      text-align: center; }
      header nav ul {
        float: none;
        padding: 0; }
        header nav ul li {
          width: 100%;
          margin: 0 auto; }
          header nav ul li a {
            width: 100%; }
    header img {
      float: none; }

  .slogan h1 {
    font-size: 35px; }

  /*3 ICONS */
  .icons {
    float: none;
    margin: 40px auto; }

  /*TEXT */
  .col-12 {
    padding: 0 30px; }

  /* TEAM */
  .team {
    margin: 0 auto; }

  .person {
    margin-bottom: 60px; }

  /*BANNER */
  .banners-0,
  .banners-1 {
    float: none;
    width: 100%;
    padding: 0;
    margin: 0;
    height: auto; }

  .banners {
    margin: 0 auto;
    padding: 30px; }

  .mobile {
    display: none; }

  .mobile-text h1 {
    line-height: 60px; }

  .white p,
  .white h1 {
    text-align: center; }

  /*NUMBERS */
  .numbers {
    float: none;
    height: auto;
    width: 100%;
    margin: 0 auto;
    text-align: center; }

  .number {
    height: auto;
    padding-bottom: 10px;
    /*FOOTER */ }

  .main {
    height: auto;
    margin-bottom: 20px; }

  .footer ul {
    text-align: center;
    padding: 0;
    margin: 0; }

  .white h2 {
    text-align: center; }

  .main h2:after {
    display: none; } }
